@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f9f9f9;
    color: #000000;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-header {
    background-color: #2e3042;
    color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.page-header-text {
    max-width: 500px;
    align-self: center;
}

.page-header-text > h1 {
    font-family: 'Roboto', sans-serif;
}

.page-header-text > h3 {
    font-family: 'Varela Round', sans-serif;
}

.traffic-light {
    display: block;
    background-color: #898792;
    padding: 15px;
    margin: 15px;
    width: 120px;
    min-width: 120px;
    height: 320px;
    border-radius: 30px;
    border: 5px solid black;
}

.light {
    position: relative;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px auto;
    border: 3px solid black;
}

.red-light {
    background-color: #D80027;
}

.yellow-light {
    background-color: #FFD423;
}

.green-light {
    background-color: #1DB793;
}

/*
.flex-col-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
*/

#prep-area {
    margin-bottom: 25px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*
#upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 500px;
    height: 200px;
    outline: 2px dashed #000;
}
*/

#upload-box {
    display: grid;
    width: 50%;
    max-width: 500px;
    height: 200px;
    outline: 2px dashed #000;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    align-content: space-evenly;
}

.file-upload-label {
    text-align: center;
    cursor: pointer;
}

#file-upload {
    display: none;
}

#result-container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}